In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'Luis', 'Pedro', 'Silvina'],
    'email': ['ana@ejemplo.com', 'juan@ejemplo.com', 'luis@ejemplo.com', 'pedro@ejemplo.com', 'silvina@ejemplo.com'],
    'edad': [22, 37, 15, 49, 63],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E'],
    'salario': [55000, 34000, 76000, 51000, 62000],
    'banco': ['Banco 1', 'Banco 3', 'Banco 1', 'Banco 2', 'Banco 3']
})

data

    nombre                email  edad ubicacion  salario    banco
0      Ana      ana@ejemplo.com    22  Ciudad A    55000  Banco 1
1     Juan     juan@ejemplo.com    37  Ciudad B    34000  Banco 3
2     Luis     luis@ejemplo.com    15  Ciudad C    76000  Banco 1
3    Pedro    pedro@ejemplo.com    49  Ciudad D    51000  Banco 2
4  Silvina  silvina@ejemplo.com    63  Ciudad E    62000  Banco 3